<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>
<body>
    <center>
        <h1><%=titulo%></h1>
        <img style="width: 15%;" src="./img/36.png" alt="">
        <h2><%=nombre%></h2>    
        <h2><%=grupo%></h2>
    </center>   

    <div class="container">
        <table class="table table-striped table-bordered table-hover table-success ">
            <thead class="table-dark">
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Materias</th>
                </tr>
            </thead>
            <tbody>
                <%for(item of Listado){%>
                    <tr>
                        <th><%=item.Matricula%></th>
                        <th><%=item.Nombre%></th>
                        <th><%=item.Sexo%></th>
                        <th><%=item.Materias%></th>
                    </tr>
                <%
                }
                %>
            </tbody>
        </table>
    </div>
    <%-include('partials/piePagina.html')%>
</body>
<script src="./js/bootstrap.min.js"></script>
</html>